<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="TaxiDB2Entities" connectionString="metadata=res://*/Components.Model1.csdl|res://*/Components.Model1.ssdl|res://*/Components.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa;initial catalog=TaxiDB2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TaxiDB2Entities1" connectionString="metadata=res://*/Components.Model.csdl|res://*/Components.Model.ssdl|res://*/Components.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa;initial catalog=TaxiDB2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TaxiDBEntities" connectionString="metadata=res://*/Components.Model.csdl|res://*/Components.Model.ssdl|res://*/Components.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JCNC9IP\sqlexpress;initial catalog=TaxiDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>